[submodule "MCU/Firmware/CMSIS_6"]
	path = MCU/Firmware/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "MCU/Third_Party/EasyFlash"]
	path = MCU/Third_Party/EasyFlash
	url = https://github.com/armink/EasyFlash.git
